/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* vídeos */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*O vídeo fica preenchido*/
    z-index: -1; /*Fica atrás de tudo*/
}

/* Header */
header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-family: 'Bangers', cursive;
  font-size: 2.5rem;
  color: #ffd700;
}

/* Main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Painel */
.painel {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  background: #ff3b3b;
  color: #0000;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff0000;
  transform: scale(1.05);
}

/* Tabuleiro */
.tabuleiro {
  display: grid;
  grid-template-columns: repeat(5, 90px);
  gap: 15px;
  perspective: 1000px;
}

/* Cartas */
.carta {
  position: relative;
  width: 90px;
  height: 90px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.carta.virada {
  transform: rotateY(180deg);
}

.carta.acertou {
  pointer-events: none;
  opacity: 0.7;
}

/* Faces */
.frente, .verso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.frente {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}

.verso {
  background: linear-gradient(135deg, #000, #444);
}

/* Hover corrigido */
.carta:hover {
  box-shadow: 0 0 5px #8892ff;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  color: #ffd700;
}

/* Responsivo */
@media (max-width: 600px) {
  .tabuleiro {
    grid-template-columns: repeat(5, 65px);
    gap: 10px;
  }

  .carta {
    width: 65px;
    height: 65px;
  }

  .painel {
    flex-direction: column;
  }
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*O vídeo fica preenchido*/
    z-index: -1; /*Fica atrás de tudo*/
}
.logo {
  width: 250px;
  max-width: 90%;
}
.video-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
body::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: -1;
}

/* Tela de vitória */
.vitoria {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hidden {
  display: none;
}

.vitoria-box {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: #ffd700;
  box-shadow: 0 0 20px #ffd700;
}